<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style,css">
    <title>Express.JS TODO app</title>
</head>
<body>
<h4>Create new TODO</h4>
<form action="/todo" method="POST">
    <input type="text" placeholder="Todo Name" name="name">
    <button type="submit">Submit</button>
</form>
<br>

{{#if todos}}
    <h4>List of todos</h4>
    <ul>
        {{#each todos}}
            <li>{{this.name}}</li>
        {{/each}}
    </ul>
{{/if}}

</body>
</html>
